.bg-primary {
  background-color: #7061a2 !important;
}

a {
  color: #ffd499;
}

a:hover {
  color: #fff;
}

.drag-area {
  min-height: 300px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #f7f7f7;
  border: 3px dashed #dedede;
  border-radius: 0.5rem;
  transition: background-color, border-color 0.2s linear;
  cursor: pointer;
}

.drag-area h2 {
  color: #dedede;
}

.drag-area:hover,
.drag-area.draging {
  background-color: #eeeeee;
  border-color: #7061a2;
}
.drag-area:hover h2,
.drag-area.draging h2 {
  color: #c9c9c9;
}

.image-info {
  padding: 0.25rem;
  background-color: #f7f7f7;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .bd-clipboard {
    display: block;
  }
}
.bd-clipboard {
  position: absolute;
  right: 0.25rem;
  top: 0.25rem;
}

.btn-clipboard {
  font-size: 0.65em;
}

.btn-clipboard:hover,
.btn-clipboard:focus {
  color: #fff;
  background-color: #0d6efd;
}

.code-comment {
  color: #d63384;
}

dd {
  margin-bottom: 0.25rem;
  margin-left: 0;
  background-color: #fff;
  padding: 0.25rem;
}
dt {
  font-weight: 700;
  background-color: #f1f1f1;
  margin-bottom: 0.2rem;
  padding: 0.25rem;
}

.img-thumbnail {
  object-fit: contain;
  max-width: 75%;
}

.danger {
  color: #dc3545;
}
.success {
  color: #198754;
}
